@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    background: #203239;
    /* fallback for old browsers */
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #203239;
    
	
    /* fallback for old browsers */
}


* {
    margin: 0;
    padding: 0;
}


i {
    margin-right: 10px;
}

.navbar-logo {
    width: 17%;
    height: 17%;
    margin-left: 2%;
    color: #000000;
}

.navbar-logo img {
    width: 20%;
    height: 30%;
}

.navbar-mainbg {
    background-color: #EEEDDE;
    padding: 0px;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}

#navbarSupportedContent ul li a {
    color: #203239;
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbarSupportedContent>ul>li.active>a {
    color: #EEEDDE;
    background-color: transparent;
    transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
    content: '\f105';
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}

.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #203239;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #203239;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EEEDDE;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}

@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }
    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }
    .hori-selector .left {
        top: -25px;
        left: auto;
    }
    .hori-selector .right {
        bottom: -25px;
    }
    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }
    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
    .logoimg {
        position: absolute;
        width: 7%;
        height: 7%;
        left: 2%;
        top: 1%;
    }
}

.form{
    
    width: 35rem;
    padding: 1rem;
    left: 8%;
    z-index: 9;
}

.form__group{
    height: 4rem;
   
}

.form__group1{
  position: relative;
  left: 12rem;
  height: 4rem;
}

.form__group2{
  position: relative;
  left: 13rem;
  
  height: 4rem;
  font-weight: bolder;
  
}

.form__label2{
  color: #E0DDAA;
  position: relative;
  font-size: large;
  left:-21rem;
  background: #203239;
  top: 0.25rem;
}

.forl{
  color: #E0DDAA;
  position: relative;
  left:-5rem;
  background: #203239;
  top: 0.25rem;
}



textarea{
    
    border: 2px solid rgba(238, 237, 222, 1);
    border-radius: 1rem;
    font-family: inherit;
    font-weight: inherit;
    color: #E0DDAA;
    outline: none;
    padding: 1.25rem;
    background: rgba(32, 50, 57, 1);
   
}

textarea:hover {
    border-color: #E0DDAA;
  }

textarea:focus {
    border-color: #E0DDAA;
}

.ta{
    position: relative;
    top: -450%;
}

fieldset{
    float: right;

}


input{
    width: 100%;
    height: 1rem;
    border: 2px solid rgba(238, 237, 222, 1);
    border-radius: 1rem;
    font-family: inherit;
    font-weight: inherit;
    color: #E0DDAA;
    outline: none;
    padding: 1.25rem;
    background: rgba(32, 50, 57, 1);
   
}

input:hover {
    border-color: #E0DDAA;
  }

input:focus {
    border-color: #E0DDAA;
}

.containerrr{
    padding-top: 5%;
    padding-right: 15%;
}

label{
    position: relative;
    left: 1rem;
    top: -2.2rem;
    font-size: x-small;
    color:rgba(238, 237, 222, 1) ;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.form__label1{
    color: #E0DDAA;
    position: relative;
    left:-21rem;
    top: 0.25rem;
}



.form__input:focus ~ .form__label ,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label  {
  top: -4rem;  
  left: 0.8rem;
  font-size: 0.8rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


.title{
    height: 10%;
    position: relative;
    bottom: 4%;
}

h2{
    color: #E0DDAA;
}

p.desc {
    color: #EEEDDE;
 }
  


.thisbody{
    padding-top: 5%;
    padding-left: 30%;
}

#id_reviewerOne{
    position: relative;
    top: 0.55rem;
    color: #E0DDAA;
    background-color: #203239;
    border-radius: 0.5rem;
    border: 2px solid rgba(238, 237, 222, 1);
}

#id_reviewerTwo{
  position: relative;
  top: 0.55rem;
  color: #E0DDAA;
  background-color: #203239;
  border-radius: 0.5rem;
  border: 2px solid rgba(238, 237, 222, 1);
}

#id_reviewerThree{
  position: relative;
  top: 0.55rem;
  color: #E0DDAA;
  background-color: #203239;
  border-radius: 0.5rem;
  border: 2px solid rgba(238, 237, 222, 1);
}

 .inner {
    display: flex;
    align-items: center;
  }
  
  .text {
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding-right: 24px;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .outer {
    display: flex;
    width: 40px;
    height: 40px;
    overflow: hidden;
    transition: 0.5s;
    margin: 12px;
    border-radius: 1000px;
    border: 0px solid rgba(0, 0, 0, 0);
    box-shadow: inset 0px 3px 3px 1px rgba(0, 0, 0, 0.08), inset 0px -1px 2px 1px #E0DDAA;
    cursor: pointer;
  }
  
  
  
  #container {
    display: inline-flex;
    position: relative;
    border-radius: 1000px;
    box-shadow: inset 0px -2px 5px 0 rgba(0, 0, 0, 0.1), inset 0px 2px 5px 0 rgba(255, 255, 255, 0.5);
    background: #E0DDAA;
  }
  
  #container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 100%;
    bottom: 0px;
    box-shadow: 0 40px 20px 3px rgba(0, 0, 0, 0.13);
    transform: scaleX(1.05);
  }
  
  .highlight {
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 1;
    background: #203239;
    margin-top: 12px;
    left: 12px;
    transition: 0.5s;
    border-radius: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -5px 8px 0 rgba(0, 0, 0, 0.2), inset 0 5px 8px 0 rgba(255, 255, 255, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }
  
  .selected {
    width: initial;
  }
  
  .inner {
    position: relative;
  }
  
  .active .inner {
    z-index: 2;
  }
  
  
  
  .icon {
    color: #ffff;
    font-weight: 900;
  }
  
  .text {
    color: aliceblue;
  }
  
  .outer:not(.active) .text {
    visibility: hidden;
  }

.f2{
     position: relative;
     right: 2%;
 }

 .f3{
     padding-top: 25%;
     position: relative;
     right: 4%;
 }

 .upload{
  width: 20%;
  position: relative;
  left: 55rem;
  padding: 0.75rem 2rem;
  background-image: linear-gradient(to right, #E0DDAA, rgba(238, 237, 222, 1), #E0DDAA);
  bottom: 15rem;
  border-radius: 5rem;
  outline: none;
  border: none;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  transition: .5s;
  background-size: 200%;
 }

 .upload:hover{
  background-color: #E0DDAA;
  background-position:  right;
}

 .form__button{
    width: 30%;
    position: absolute;
    left: 26rem;
    padding: 0.75rem 2rem;
    background-image: linear-gradient(to right, #E0DDAA, rgba(238, 237, 222, 1), #E0DDAA);
    top: 150rem;
    border-radius: 5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
	  display: block;
    cursor: pointer;
	  transition: .5s;
    background-size: 200%;
}

.form__button:hover{
    background-color: #E0DDAA;
    background-position:  right;
}

.form__button1{
  width: 30%;
  position: absolute;
  left: 31rem;
  padding: 0.75rem 2rem;
  background-image: linear-gradient(to right, #E0DDAA, rgba(238, 237, 222, 1), #E0DDAA);
  top: 45rem;
  border-radius: 5rem;
  outline: none;
  border: none;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  transition: .5s;
  background-size: 200%;
}

.form__button1:hover{
  background-color: #E0DDAA;
  background-position:  right;
}

.signuptext{
    color: rgba(32, 50, 57, 1);
    font-weight: bolder;
    font-size: larger;
}

.drop-zone {
  position: relative;
  left: 21rem;
  top:30%;
  width: 49%;
  height: 20rem;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #E0DDAA;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}