.rev__button{
    width: 40%;
    left: 40rem;

    /* padding: 0.75rem 2rem; */
    background-image: linear-gradient(to right, #E0DDAA, rgba(238, 237, 222, 1), #E0DDAA);
    top: 100rem;
    border-radius: 5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
   display: block;
    cursor: pointer;
   transition: .5s;
    background-size: 200%;

}

.rev__button2{
    width: 20%;
    left: 23rem;
    position: relative;
    /* padding: 0.75rem 2rem; */
    background-image: linear-gradient(to right, #E0DDAA, rgba(238, 237, 222, 1), #E0DDAA);
    bottom: 1.5rem;
    border-radius: 5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
   display: block;
    cursor: pointer;
   transition: .5s;
    background-size: 200%;

}

.rev__button3{
    width: 20%;
    left: 35rem;
    position: relative;
    /* padding: 0.75rem 2rem; */
    background-image: linear-gradient(to right, #E0DDAA, rgba(238, 237, 222, 1), #E0DDAA);
    bottom: 3rem;
    border-radius: 5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    transition: .5s;
    background-size: 200%;

}

.txt{
    color: rgba(32, 50, 57, 1);
}

h3{
    color: #E0DDAA;
    position: relative;
    left: 30rem;
    top: 1rem;
    margin-bottom: 2rem;
}

.conf_form_group{
    width: 80%;
    position: relative;
    height: 7rem;
    left: 10rem;
    border: 2px solid #E0DDAA;
    border-radius: 1rem;
    font-family: inherit;
    font-weight: inherit;
    color: rgba(238, 237, 222, 1);
    outline: none;
    padding: 1.25rem;
    background: rgba(32, 50, 57, 1);
}