@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /*border are include in height and weight*/
}

body{
    background: #203239 ;
    overflow: hidden;
    min-height: 100vh; /*Relative to 1% of the height of the viewport*/
}

h3{
    color: #E0DDAA;
    position: absolute;
    top: 20%;
    font-weight: bolder;
    font-size: 200%;
    left: 40%;
}

p{
    color: #E0DDAA;
    position: absolute;
    top: 40%;
    text-align: center;
    font-weight: normal;
    font-size: 60%;
    left: 30%;
}

form{
    position: absolute;
    top: 50%;
    width: 35rem;
    padding: 3rem;
    left: 30%;
    z-index: 9;
}

label{
    position: relative;
    left: 1rem;
    top: -1rem;
    font-size: x-small;
    color:rgba(238, 237, 222, 1) ;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

#id_email{
    width: 100%;
    height: 1rem;
    border: 2px solid rgba(238, 237, 222, 1);
    border-radius: 1rem;
    font-family: inherit;
    font-weight: inherit;
    color: #E0DDAA;
    outline: none;
    padding: 1.25rem;
    background: rgba(32, 50, 57, 1);
}

#id_email:hover {
    border-color: #E0DDAA;
  }

  #id_email:focus {
    border-color: #E0DDAA;
}

button{
    width: 60%;
    position: absolute;
    top: 9rem;
    left: 7rem;
    padding: 1rem 2rem;
    background-image: linear-gradient(to right, #E0DDAA, rgba(238, 237, 222, 1), #E0DDAA);
    bottom: 3rem;
    border-radius: 5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
	display: block;
    cursor: pointer;
	transition: .5s;
    background-size: 200%;
}

button:hover{
    background-color: #E0DDAA;
    background-position:  right;
}

.signuptext{
    color: rgba(32, 50, 57, 1);
    font-weight: bolder;
    font-size: larger;
    position: relative;
    bottom: 10px;
}