<div class="containerrr">
    <fieldset>
        <div class="title">
      <h2>Conference information</h2>
      <p class="desc">Please enter conference infomation and proceed to next step so we can build your conference</p></div>
       <div class="form  " >
                <div class="form__group">
                  {% render_field form.name class="form__input" placeholder=" "%}
                  <label for="name" class="form__label">Name</label>
                  </div>
                 <div class="group"></div>
                <div class="form__group">
                    {% render_field form.acronym class="form__input" placeholder=" "%}
                  <label for="Acronym" class="form__label">Acronym</label>
                </div>
                <div class="group"></div>
                <div class="form__group">
                  {% render_field form.webpage class="form__input" placeholder=" "%}
                  <label for="url" class="form__label">Web Page</label>
                </div>
                <div class="group"></div>
                <div class="form__group">
                  {% render_field form.city class="form__input" placeholder=" "%}
                  <label for="text" class="form__label">City</label>
                </div>
                <div class="group"></div>
                <div class="form__group">
                    {% render_field form.country class="form__input" placeholder=" "%}
                    <label for="text" class="form__label">Country</label>
                </div>
                <div class="group"></div>
                <div class="form__group">
                    {% render_field form.startdate class="form__input" placeholder=" "%}
                    <label type="date" class="form__label">Start date</label>
                </div>
                <div class="group"></div>
                <div class="form__group">
                    {% render_field form.registrationdeadline class="form__input" placeholder=" "%}
                    <label type="date" class="form__label">Registration deadline</label>
                </div>
                <div class="group"></div>
                <div class="form__group">
                    {% render_field form.soumissiondeadline class="form__input" placeholder=" "%}
                    <label type="date" class="form__label">Soumission     deadline</label>
                </div>
            </div>
    </fieldset>
    
    <fieldset class="f2">
        <div class="title">
      <h2>Research Area</h2>
      <p class="desc">Please enter research infomation and proceed to next step so we can build your conference</p></div>
       <div class="form  " >
                <div class="form__group">
                  {% render_field form.primaryresearch class="form__input" placeholder=" "%}
                  <label for="text" class="form__label">Primary Research</label>
                  </div>
                 <div class="group"></div>
                <div class="form__group">
                  {% render_field form.secoundaryresearch class="form__input" placeholder=" "%}  
                  <label for="text" class="form__label">Secoundary Research</label>
                </div>
                <div class="group"></div>
                <div class="form__group">
                    
                    {% render_field form.areanite class="form__input" placeholder=" "%}
                  <label for="textarea" class="ta">Area Note</label>
                </div>
                
            </div>
    </fieldset>
   
    <fieldset class="f3">
        <div class="title">
      <h2>Topics</h2>
      <p class="desc">Please enter topics infomation and proceed to next step so we can build your conference</p></div>
       <div class="form  " >
                <div class="form__group">
                    {% render_field form.topicone class="form__input" placeholder=" "%}
                  <label for="text" class="form__label">Topic 01</label>
                  </div>
                 <div class="group"></div>
                <div class="form__group">
                    {% render_field form.topictwo class="form__input" placeholder=" "%}
                  <label for="text" class="form__label">Topic 02</label>
                </div>
                <div class="form__group">
                    {% render_field form.topicthree class="form__input" placeholder=" "%}
                    <label for="text" class="form__label">Topic 03</label>
                </div>
                <div class="form__group">
                    {% render_field form.topicfour class="form__input" placeholder=" "%}
                    <label for="text" class="form__label">Topic 04</label>
                </div>
            </div>
    </fieldset>
    <div class="drop-zone">
        <span class="drop-zone__prompt">Drop or click to upload your template</span>
        <input type="file" name="upload" accept=".doc, .docx, .pdf, .txt">
            <br>
        <button class="btn btn-dark my-4" type="submit">Submit</button>
    </div>
    <button type="Submit">upload file</button>
</div>
<button class="form__button" type="Submit" >
<div class="signuptext">Create Your Conference</div>
</button>